<?xml version="1.0" encoding="utf-8"?>
<!--
   Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amplifyframework.sample.photosharing">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".PhotoSharingApplication"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:label="SignUpActivity" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:label="UserProfileActivity" />
        <activity
            android:name=".activities.PostEditorActivity"
            android:label="PostEditorActivity"
            android:parentActivityName=".activities.UserProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UserProfileActivity" />
        </activity>
        <activity
            android:name=".activities.ConfirmImageActivity"
            android:label="ConfirmImageActivity" />
    </application>
</manifest>